<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Bungee" >
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Raleway" >
    <link href="static/h2o.css" rel="stylesheet">
    <link href="static/name_game.css" rel="stylesheet">
    <title>SimpleCloud</title>

</head>
<body class="bg-dark">
{% block content %}
{% endblock %}

</body>
</html>